.image{
    padding: 16px;
}
.image img {
    height: 165px;
    border-radius: 20px;
}

h5.card-title {
    font-size: 22px;
    font-weight: 700;
}

p.age-time {
    font-size: 20px;
}

p.age-time span{
    font-weight: 600;
}